.action-banner {
	background-color: #574f36;
	padding-top: 0;
	padding-bottom: 0;
	color: #fff;
	font-weight: 700;
	margin-top: 30px;
}

.action-banner:after, .action-banner:before {
	content: "";
	display: table
}

.action-banner:after {
	clear: both
}

.action-banner .block-facets {
	float: left;
	width: 24%;
	margin-right: 1%;
	margin-bottom: 20px
}

.action-banner .block-facets select, .action-banner .block-facets input,
	.action-banner .block-facets .js-fake-select-input {
	width: 100%;
	font-weight: 400;
	color: #303030;
	text-transform: capitalize;
	border-radius: 3px
}

.card {
	margin-bottom: 1rem;
}

.card-body {
	position: relative;
	background-color: #ccc;
}

select {
	-moz-appearance: none;
	appearance: none;
	height: 40px;
	border: 1px solid #bbccd7;
	background-color: #fff;
	border-radius: 0;
	line-height: 1.5;
	padding: 0 20px 0 10px;
	background-image:
		url(https://www.animalhumanesociety.org/themes/ahs/images/arrow_dropdown.svg);
	background-repeat: no-repeat;
	background-position: center right;
	background-size: 25px 25px;
}

.container .card .card-img-top {
	height: 250px;
}

.body-container {
	display: flex;
	justify-content: flex-end;
	padding-right: 30px;
}

.image-container {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.btn-create {
	display: flex;
	align-items: center;
	background-color: #fd780f;
	color: #fff;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 4px;
	border: none;
	margin-right: 40px;
}

.btn-create img {
	margin-right: 5px;
}

.page-title {
	padding-left: 10px;
}