.cart-body {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center
}

.cart-container {
    width: 850px;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 40px #f9ecdb
}

.cart-body .header {
    margin: 20px auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.cart-body .heading {
    font-size: 20px;
    font-weight: 700;
    color: #574f36
}

.cart-body .action {
    font-size: 14px;
    font-weight: 600;
    color: #fd780f;
    cursor: pointer;
    border-bottom: 1px solid #fd780f
}

.cart-body input {
    margin: 0px 10px
}

.cart-body .cart-items {
    /*border: 1px solid;*/
    /*border-color: red;*/
    margin: auto auto 10px;
    width: 90%;
    height: 30%;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center
}

.cart-body .image-box {
    /*border: 1px solid;*/
    /*border-color: Green;*/
    width: 150px;
    margin: 20px 10px 0px 20px;
    text-align: center
}

.cart-body .item-about {
    /*border: 1px solid;*/
    /*border-color: blue;*/
    width: 200px;
    height: 100%

}

.cart-body .type {
    /*border: 1px solid;*/
    /*border-color: greenyellow;*/
    line-height: 10px;
    font-size: 12px;
    font-weight: 600;
    color: #a67c52;
    margin: 10px 0px;
}

.cart-body .title {
    line-height: 10px;
    font-size: 24px;
    font-weight: 800;
    color: #fd780f;
    margin: 5px 0px
}

.cart-body .discribe {
    margin-top: 20px;
    line-height: 10px;
    font-size: 12px;
    font-weight: 600;
    color: #574f36
}

.cart-body .item-counter {
    /*border: 1px solid;*/
    /*border-color: darkgoldenrod;*/
    width: 200px;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    margin: 0px 10px
}

.cart-body .item-btn {
    width: 30px;
    height: 30px;
    border-radius: 30%;
    background-color: #f1ecd1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 900;
    color: #574f36;
    cursor: pointer;
    margin: 0px 20px
}

/*.item-decrease, .item-increase{*/
/*    margin: 0px 20px;*/
/*}*/



.cart-body .item-count {
    /*border: 1px solid;*/
    /*border-color: palevioletred;*/
    font-size: 20px;
    font-weight: 900;
    color: #574f36;
    width: 30px;
    margin: 5px;
    text-align:center;
    /*position: absolute;*/
    /*transform: translateX(-50px);*/
}

.cart-body .prices {
    /*border: 1px solid;*/
    /*border-color: blueviolet;*/
    height: 100%;
    font-family: 'Open Sans';
    text-align: right
}

.cart-body .amount {
    /*border: 1px solid;*/
    /*border-color: rebeccapurple;*/
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #f8c544;
    width: 100px;
    text-align: right;
    margin-top: 15px
}

.cart-body .remove {
    margin-top: 0;
    font-size: 12px;
    font-weight: 600;
    color: #fd780f;
    cursor: pointer
}

.cart-body hr {
    width: 700px;
    float: right;
    margin-right: 50px
}

.cart-body .checkout {
    /*border: 1px solid lightgreen;*/
    margin: 20px 40px 30px
}

.cart-body .total {
    /*border: 1px solid palevioletred;*/
    display: inline-block;
    height: 120px;
    width: calc(100% - 15px)
}

.cart-body .item-body {
    position: absolute;
    margin: 30px 0px 30px 430px
}

.cart-body .subtotal {
    font-size: 22px;
    font-weight: 700;
    color: #574f36
}

.cart-body .items {
    font-size: 16px;
    font-weight: 500;
    color: #a67c52;
    line-height: 10px
}

.cart-body .total-amount {
    /*border: 1px solid slateblue;*/
    font-size: 36px;
    font-weight: 900;
    color: #f8c544;
    text-align: right;
    margin: 22px 10px 30px 0px
}

.total-amount span {
    margin: 10px;
}

.cart-body .buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px 5px;
}

.cart-body .button-back,
.cart-body .button-pay {
    width: 200px;
    height: 40px;
    border: none;
    background: #f8c544;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}