body,
html {
    /*height: 100%;*/
    /*width: 100%;*/
    /*margin: 0;*/
    font-family: Roboto, sans-serif
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex
}

.left-column {
    width: 65%;
    position: relative
}

.right-column {
    width: 35%;
    margin-top: 60px
}

.left-column img {
    width: 50%;
    position: absolute;
    margin-left: 40%;
    margin-top: 5%
}

.cable-config,
.product-description {
    border-bottom: 1px solid #e1e8ee;
    margin-bottom: 20px
}

.product-description span {
    font-size: 12px;
    color: #a67c52;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none
}

.product-description h3 {
    font-weight: 600;
    font-size: 52px;
    color: #fd780f;
    letter-spacing: -2px
}

.product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939e;
    line-height: 24px
}

.cable-config span,
.product-color span {
    font-size: 14px;
    font-weight: 400;
    color: #86939e;
    margin-bottom: 20px;
    display: inline-block
}

.product-color {
    margin-bottom: 30px
}

.color-choose div {
    display: inline-block
}

.color-choose input[type=radio] {
    display: none
}

.color-choose input[type=radio]+label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .33)
}

.color-choose input[type=radio]#red+label span {
    background-color: #c91524
}

.color-choose input[type=radio]#blue+label span {
    background-color: #314780
}

.color-choose input[type=radio]#black+label span {
    background-color: #323232
}

.color-choose input[type=radio]:checked+label span {
    background-image: url(images/check-icn.svg);
    background-repeat: no-repeat;
    background-position: center
}

.cable-choose {
    margin-bottom: 20px
}

.cable-choose button {
    border: 2px solid #e1e8ee;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    color: #5e6977;
    background-color: #fff;
    cursor: pointer;
    transition: .5s
}

.cable-choose button:active,
.cable-choose button:focus,
.cable-choose button:hover {
    border: 2px solid #86939e;
    outline: 0
}

.cable-config a {
    color: #358ed7;
    text-decoration: none;
    font-size: 12px;
    position: relative;
    margin: 10px 0;
    display: inline-block
}

.cable-config a:before {
    content: "?";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid rgba(53, 142, 215, .5);
    display: inline-block;
    text-align: center;
    line-height: 16px;
    opacity: .5;
    margin-right: 5px
}

.product-price {
    display: flex;
    align-items: center
}

.product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #f8c544;
    margin-right: 20px
}

.cart-btn {
    display: inline-block;
    background-color: #f8c544;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    transition: .5s
}

.cart-btn:hover {
    background-color: #e69609;
    color: #f1ecd1
}

.badge-notify {
    background: red;
    position: relative;
    top: -20px;
    right: 10px;
}

.my-cart-icon-affix {
    position: fixed;
    z-index: 999;
}

/*@media (max-width:940px) {*/
/*    .container {*/
/*        flex-direction: column;*/
/*        margin-top: 60px*/
/*    }*/

/*    .left-column,*/
/*    .right-column {*/
/*        width: 100%*/
/*    }*/

/*    .left-column img {*/
/*        width: 300px;*/
/*        right: 0;*/
/*        top: -65px;*/
/*        left: initial*/
/*    }*/
/*}*/

/*@media (max-width:535px) {*/
/*    .left-column img {*/
/*        width: 220px;*/
/*        top: -85px*/
/*    }*/
/*}*/