.card {
  font-weight: 400;
  border: 0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.btn-primary {
  background-color: #f1ecd1 !important;
  border: #A67C52 !important;
}

.btn-delete {
  color: black !important;
  border: #A67C52 !important;
  padding-bottom: 2px;

  padding-top: 2px;
}

.btn-modify {
  color: black !important;
  border: #A67C52 !important;
}

@media only screen and (min-width: 426px) {
  .rightMarginBlueButton {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 425px) {
  .rightMarginBlueButton {
    margin-right: 8px;
  }
}

@media only screen and (max-width: 425px) {
  .marginsRedButton {
    margin-right: 5px;
  }
}




input,
input:focus,
input:active {
  outline: none !important;
  -moz-outline-style: none !important;
  box-shadow: none !important;
}

.anone {
  color: inherit;
}

.anone:link {
  text-decoration: none;
}

.anone:visited {
  color: inherit;
}

.anone:hover {
  text-decoration: none;
  color: inherit;
}

.anone:active {
  color: inherit;
}