* {
	box-sizing: border-box;
}

div.row {
	/* border: 1px solid black; */
	box-shadow: 0 0 5px #574f36;
	background-color: #f1ecd1;
	border-radius: 50px;
	margin: 10px;
	padding: 20px 20px;
}

div.search {
	/* border: 1px solid blue; */
	display: inline-block;
	width: 40%;
}

div.search2 {
	display: inline-block;
	/* border: 1px solid red; */
	width: 50%;
	text-align: right;
}

#clickableText {
	cursor: pointer;
	color: blue;
}

.data-container tr>td {
	width: 15%;
}